
#error {
    color: red;
    font-weight: bold;
}

#search-examples {
    max-width: 14em;
}

#search-info-container {
    width: 100%;
}

#search-info {
    width: 40%;
    text-align: left;
}

#navigation-container {
    width: 20%;
    text-align: center;
}

#results-container {
    width: 100%;
    overflow-x: auto;
    scroll-snap-align: center;
}

#results-container table {
    border-collapse: collapse;
    border: 1px solid black;
}

#results-container td, #results-container th {
    white-space: nowrap;
    border-top: 1px solid black;
    padding: 3px 10px;
}

.match {
    text-align: center;
    font-weight: bold;
}

.prefix {
    text-align: right;
}

.suffix {
    text-align: left;
}

#count-results td, #count-results th {
    text-align: right;
    border: 1px solid black;
}

#count-results th:first-child {
    text-align: left;
}

#count-results .center {
    text-align: center;
}

.hidden {
    display: none;
}
