
#error {
    color: red;
    font-weight: bold;
}

#search-examples {
    max-width: 7ex;
}

#search-info-container {
    width: 100%;
}

#search-info-container, #search-info-container td {
    border: 0px;
}

#search-info {
    width: 40%;
    text-align: left;
}

#navigation-container {
    width: 20%;
    text-align: center;
}

#results-container {
    width: 100%;
    overflow-x: auto;
    scroll-snap-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    white-space: nowrap;
    border: 1px solid black;
    padding: 3px 10px;
}

#query-results td, #query-results th {
    border: 0px;
    border-top: 1px solid black;
}

.match {
    text-align: center;
    font-weight: bold;
}

.prefix, .right {
    text-align: right;
}

.suffix, .left {
    text-align: left;
}

.center {
    text-align: center;
}

#count-results td {
    text-align: right;
}

#count-results th:first-child {
    text-align: left;
}

.hidden {
    display: none;
}
